{% if event.source_name == 'multiple_choice' %}
{% include 'messages/multiple_choice_prompt_sent.html' %}
{% elif event.source_name == 'current_date' %}
{% include 'messages/current_date_prompt_sent.html' %}
{% elif event.source_name == 'DirectoryEpisodesTV' %}<a href="/events/{{ event.event_id }}">Episode mapping prompt sent for confirmed TV series {{ message.payload.context.confirmed_series.name }}{% if message.payload.context.season_number is defined and message.payload.context.season_number is not none %} (Season {{ message.payload.context.season_number }}){% endif %}. Directory: {{ message.payload.context.filename }}.</a>
{% elif event.source_name == 'DirectoryContextTV' %}<a href="/events/{{ event.event_id }}">TV series identification prompt sent. Directory: {{ message.payload.context.filename }}.</a>
{% elif event.source_name == 'DirectoryContextTwoParts' %}<a href="/events/{{ event.event_id }}">Two-part movie identification prompt sent. Directory: {{ message.payload.context.filename }}.</a>
{% else %}<a href="/events/{{ event.event_id }}">Prompt sent. Filename: {{ message.payload.context.filename }}, Prompt: {{ message.payload.data.content | prompt_preview }}</a>{% endif %}
